# {%- if 'greeting' in pillar %}{{ pillar['greeting'] }}{%- endif %}
#
# stayingalive
#
# Copyright (C) 2026   darix
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
$INSTANCE_PER_PROTOCOL= \
vrrp_instance VI_${INSTANCE_ID}_${IP_PROTOCOL} { \
    @primary  state MASTER \
    @^primary state BACKUP \
\
    @primary   priority  110 \
    @^primary  priority  100 \
\
    interface ${VRRP_INTERFACE} \
    virtual_router_id ${ROUTER_ID} \
\
    advert_int 1 \
    promote_secondaries \
    notify /usr/bin/keepalived_notify_monitoring.sh root root\
\
    authentication { \
        auth_type ${AUTH_TYPE} \
        auth_pass ${AUTH_PASS} \
    } \
    @primary   unicast_src_ip ${PRIMARY_IP}   \
    @secondary unicast_src_ip ${SECONDARY_IP} \
    unicast_peer { \
      @^primary    ${PRIMARY_IP}   \
      @^secondary  ${SECONDARY_IP} \
    } \
\
    virtual_ipaddress { \
      ${VIP} \
    } \
    virtual_routes { \
      ${VIR} \
    } \
    virtual_rules { \
      ${VIRR} \
    } \
}
